@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    min-height: 100dvh;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-color: #232126;
    color: #f5f5f5;
    background-image: radial-gradient(circle, #f5f5f585 1%, transparent 8%);
    background-size: 28px 28px;
    background-position: center;
    overflow-x: hidden;
    --s: 150px;
    /* control the size */
    --c: #161617;

    --l: var(--c) 20%, #0000 0;
    --g: 35%, #191919 0 45%, var(--c) 0;
    background:
        linear-gradient(45deg, var(--l) 45%, var(--c) 0 70%, #0000 0),
        linear-gradient(-45deg, var(--l) var(--g) 70%, #0000 0),
        linear-gradient(45deg, var(--c) var(--g));
    background-size: var(--s) var(--s);
}

.container {
    padding: 50px 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    gap: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #2e2e3475;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    padding: 20px 40px;
}

h1 {
    color: #d04a89;
    font-size: 3rem;
    font-weight: 800;
    margin: 20px 0 0 0;
    text-align: center;
}

h1 span {
    color: white;
}

.steps {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0;
}


.step {
    background: linear-gradient(to top, #343438, #4e4e5c);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: 200px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .step {
        width: 100%;
    }
}

.step h2 {
    position: absolute;
    line-height: 0.6;
    bottom: 0;
    right: 0;
    color: #abb1b116;
    user-select: none;
    font-size: 8rem;
    z-index: 0;
}

.step p {
    font-size: 1.4rem;
    line-height: 1.5;
    z-index: 1;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
}

input[type="file"] {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

label {
    border: 2px dashed #f5f5f585;
    border-radius: 20px;
    color: #fff;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    cursor: pointer;
    width: 250px;
    height: 60px;
    font-size: 1.4rem;
    display: grid;
    place-items: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

label:hover {
    border: 2px dashed #d04a89;
}

input[type="text"] {
    background: #585861;
    border: none;
    color: #fff;
    font-family: inherit;
    font-weight: 400;
    height: 60px;
    width: 280px;
    letter-spacing: 1.8px;
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 10px;
    outline: none;
    text-align: center;
    z-index: 1;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border: 1px solid #6b6b73;
}

button#generate {
    background: #d04a89;
    border-radius: 20px;
    border: 0;
    color: #fff;
    width: 100%;
    max-width: 500px;
    /* margin-top: 20px; */
    cursor: pointer;
    font-size: 1.4rem;
    padding: 20px 40px;
    transition: background-color 0.3s ease;
}

button#generate:disabled {
    background: linear-gradient(to top, #343438, #4e4e5c);
    border: 0;
    cursor: not-allowed;
}

#story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px dashed #d04a89; */
    position: relative;
    width: 100%;
    max-width: 500px;
    gap: 30px;
    background: #2e2e3475;
    border-radius: 20px;
    padding: 55px 10px;
}


#story img {
    width: 60%;
    border-radius: 20px;
    border: 2px dashed #d04a89;
}

#save {
    background: #d04a89;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 30px;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 60px;
    background: linear-gradient(to top, #3434384f, #4e4e5c4f);
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 1.4rem;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

footer:hover {
    background: linear-gradient(to top, #3434389f, #4e4e5c9f);
}

@media screen and (max-width: 500px) {
    .steps {
        width: 100%;
    }

    .main {
        padding: 20px 20px;
    }

    #story img {
        width: 80%;
    }

    .container {
        gap: 30px;
    }

    footer {
        position: static;
        transform: none;
        border-radius: 20px;
        height: auto;
        padding: 20px;
        margin-bottom: 30px;
    }
}













.alertify-notifier {
    position: fixed;
    width: 0;
    overflow: visible;
    z-index: 1982;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.alertify-notifier .ajs-message {
    position: relative;
    width: 260px;
    max-height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear
}

.alertify-notifier .ajs-message.ajs-visible {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    opacity: 1;
    max-height: 100%;
    padding: 15px;
    margin-top: 10px
}

.alertify-notifier .ajs-message.ajs-warning {
    /* background: #84818355; */
    background: linear-gradient(to top, #3434389f, #4e4e5c9f);
    border-radius: 16px;
    text-align: center;
}

.alertify-notifier.ajs-top {
    top: 10px
}

.alertify-notifier.ajs-bottom {
    bottom: 10px
}

.alertify-notifier.ajs-right {
    right: 10px
}

.alertify-notifier.ajs-right .ajs-message {
    right: -320px
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    right: 290px
}

.alertify-notifier.ajs-left {
    left: 10px
}

.alertify-notifier.ajs-left .ajs-message {
    left: -300px
}

.alertify-notifier.ajs-left .ajs-message.ajs-visible {
    left: 0
}

.alertify-notifier.ajs-center {
    left: 50%
}

.alertify-notifier.ajs-center .ajs-message {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.alertify-notifier.ajs-center .ajs-message.ajs-visible {
    left: 50%;
    -webkit-transition-timing-function: cubic-bezier(.57, .43, .1, .65);
    transition-timing-function: cubic-bezier(.57, .43, .1, .65)
}

.alertify-notifier.ajs-center.ajs-top .ajs-message {
    top: -300px
}

.alertify-notifier.ajs-center.ajs-top .ajs-message.ajs-visible {
    top: 0
}

.alertify-notifier.ajs-center.ajs-bottom .ajs-message {
    bottom: -300px
}

.alertify-notifier.ajs-center.ajs-bottom .ajs-message.ajs-visible {
    bottom: 0
}

.ajs-no-transition.alertify .ajs-dialog,
.ajs-no-transition.alertify .ajs-dimmer,
.ajs-no-transition.alertify .ajs-modal {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important
}

.ajs-no-transition.alertify-notifier .ajs-message {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    animation: none !important
}

@media (prefers-reduced-motion:reduce) {

    .alertify .ajs-dialog,
    .alertify .ajs-dimmer,
    .alertify .ajs-modal {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-animation: none !important;
        animation: none !important
    }

    .alertify-notifier .ajs-message {
        -webkit-transition: none !important;
        transition: none !important;
        -webkit-animation: none !important;
        animation: none !important
    }
}